<% if User.current.allowed_to?(:change_time_entry_user, @project) %>
  <% issue_assignee = ChangeTimeEntryUser::AssignedUser.call(time_entry) %>

  <p>
    <label for="time_entry_user_id"><%= l(:field_user) %><span class="required"> *</span></label>
    <%= select_tag('time_entry[unprotected_user_id]', options_from_collection_for_select(time_entry.issue.assignable_users, 'id', 'name', issue_assignee)) %>
  </p>
<% end %>
